/* 
    Document   : style
    Created on : Oct 19, 2013, 3:35:03 PM
    Author     : prabhat
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 28px;
}
